.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
*.pem
config/sys.config
config/vm.args
cgi-vars
fresh-start
rebar.lock
run
todo.org
