{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_extra_sinks, [blizanci_access]},
            warnings_as_errors
           ]}.

{deps, [
       {lager, "3.8.1"},
       {ranch, "2.0.0"},
       {erlexec, "1.18.8"},
       realpath,
       ppool,
       mime_lookup
]}.

{relx, [{release, {blizanci, "0.1.0"},
         [blizanci,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
