{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_extra_sinks, [blizanci_access]},
            warnings_as_errors
           ]}.

{deps, [
       {lager, "3.9.2"},
       {ranch, "2.0.0"},
       {erlexec, "1.18.8"},
       zotonic_ssl,
       realpath,
       ppool,
       mime_lookup
]}.

{relx, [{release, {blizanci, "0.1.1"},
         [blizanci,
          sasl,
          ranch,
          realpath,
          ppool,
          lager,
          runtime_tools,
          mime_lookup ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {overlay, 
          [{copy, "mime.types", "mime.types"},
	   {copy, "public_gemini", "public_gemini"},
	   {copy, "cgi-bin", "cgi-bin"}
          ]},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
