[
  {blizanci, [
   {certfile, "/home/mk270/Src/blizanci/ssl/certificate.pem"},
   {keyfile, "/home/mk270/Src/blizanci/ssl/key.pem"},
   {hostname, "your.fully.qualified.host.name"}
   ]},
  {kernel, [
   {logger_level, debug},
   {logger, [
     {handler, default, logger_std_h, #{
       level => info,
       formatter => {logger_formatter, #{
         single_line => true,
         template => [time, " [", level, "] ", msg, "\n"]
       }}
     }}
   ]}
  ]}
].
